.HelpContainerDiv {
  width: 100vw;
  height: 85vh;
  margin-top: 4vw;
  background-image: url("/public/images/image3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.title {
  width: fit-content;
  margin: 0 auto;
  padding: 1vw;
  font-size: 3vw;
  border-top: 1px solid #2d3630;
  border-bottom: 2px solid #ffffff;
  border-radius: 2vw 0vw 2vw 0vw;
  background-color: #3d9c4d;
  color: #2d3630;
  letter-spacing: 0.2vw;
  font-weight: bolder;
  text-align: center;
}
.howText {
  color: #ffffff;
}
.youText {
  color: #ffffff;
}
.mainContentDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
  padding-top: 2vw;
  margin-left: 4vw;
  margin-right: 4vw;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
  background: #e2e2e2;
  border-top: 1vw solid #3d9c4d;
  padding: 1.5vw 1.5vw 1.5vw 2.2vw;
  border-radius: 0vw 2vw 0vw 2vw;
  box-shadow: 1px 1px 2px 0px #3d9c4d;
  z-index: 1;
}
.content:hover .icon {
  background-color: #3d9c4d88;
  transform: rotateY(180deg);
}
.icon {
  font-size: 8vw;
  border: 0.1vw solid #3d9c4d;
  padding: 1vw;
  border-radius: 50%;
  color: #3d9c4d;
  transition: transform 0.4s ease-in-out;
}
.volunteerTitle {
  font-size: 1.3vw;
  padding-bottom: 1vw;
  color: #2d3630;
  letter-spacing: 0.1vw;
}
.volunteerDescription {
  font-size: 1.2vw;
  word-break: break-all;
  font-family: sans-serif, lato;
}
.readMoreText {
  font-size: 1vw;
  font-weight: bold;
  padding-top: 2vw;
  cursor: pointer;
  color: #2d3630;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.ReadMoreIcon {
  position: relative;
  font-size: 1.5vw;
  top: 20%;
}
.readMoreText:hover {
  color: #3d9c4d;
}
/* ================Responsiveness max600px ========================= */
@media screen and (max-width: 600px) {
  .HelpContainerDiv {
    width: 100vw;
    height: 250vh;
    margin-top: 4vw;
    background-image: url("/public/images/image3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    overflow: hidden;
  }
  .title {
    width: fit-content;
    margin: 0 auto;
    padding: 1vw;
    font-size: 5vw;
    border-top: 1px solid #2d3630;
    border-bottom: 2px solid #ffffff;
    border-radius: 2vw 0vw 2vw 0vw;
    background-color: #3d9c4d;
    color: #2d3630;
    letter-spacing: 0.2vw;
    font-weight: bolder;
    text-align: center;
  }
  .help {
    background: #e2e2e2;
    padding: 6vw;
  }
  .paragraph {
    font-size: 3vw;
    text-align: center;
  }
  .mainContentDiv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4vw;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
    background: #e2e2e2;
    border-top: 5vw solid #3d9c4d;
    padding: 1.5vw 1.5vw 1.5vw 2.2vw;
    border-radius: 2vw 2vw 0vw 0vw;
    box-shadow: 1px 1px 2px 0px #3d9c4d;
    z-index: 1;
  }
  .heading {
    font-size: 4vw;
  }
  .icon {
    font-size: 20vw;
  }
  .volunteerTitle {
    font-size: 5vw;
    padding-bottom: 3vw;
  }
  .volunteerDescription {
    font-size: 3.5vw;
  }
  .readMoreText {
    font-size: 3vw;
    padding-top: 4vw;
    padding-bottom: 2vw;
  }
  .ReadMoreIcon {
    position: relative;
    font-size: 3.5vw;
    top: 20%;
  }
  .readMoreText:hover {
    color: #3d9c4d;
  }
}
/* ===========Responsiveness (min-width: 601px) and (max-width: 768px) ======== */
@media screen and (max-width: 768px) and (min-width: 601px) {
  .HelpContainerDiv {
    width: 100vw;
    height: 75vh;
    margin-top: 4vw;
    background-image: url("/public/images/image3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }
}
