@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.position {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.navContent {
  width: 100vw;
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  box-shadow: 0px 1px 5px 0px #2d3630;
  background: #ffffff;
  z-index: 1;
  position: relative;
}
.navTitle {
  position: absolute;
  left: 5vw;
  text-decoration: none;
  font-size: 2.5vw;
  color: #2d3630;
  cursor: pointer;
  font-family: "Luckiest Guy", cursive;
  transition: 0.2s ease-in-out;
}
.navTitle:hover {
  color: #3d9c4d;
}
.customLink {
  text-decoration: none;
  color: #2d3630;
  font-family: sans-serif, lato;
  padding: 0.5vw 1vw;
  border-radius: 30px;
  cursor: pointer;
}
.navText {
  font-size: 1.2vw;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
.callAnytimeContent {
  width: fit-content;
  height: auto;
  position: absolute;
  right: 7vw;
  padding: 0 0 0 5vw;
  border-left: 1px solid #2d3630;
}
.callAnytime {
  font-size: 1.6vw;
  color: #2d3630;
  font-family: "Ubuntu", sans-serif;
  transition: 0.2s ease-in-out;
}
.callAnytime:hover {
  color: #3d9c4d;
  cursor: pointer;
}
.number {
  font-size: 1.2vw;
  color: #2d3630;
  font-family: "Ubuntu", sans-serif;
  transition: 0.2s ease-in-out;
}
.number:hover {
  color: #3d9c4d;
  cursor: pointer;
}
.divIcon {
  width: 0;
  height: 0;
  border-top: 8px solid #000000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  position: relative;
  top: -2px;
  left: 0px;
}
/* ============Dropdown====================== */
.dropdown {
  width: 17vw;
  height: fit-content;
  margin: 0;
  position: absolute;
  top: 4vw;
  left: 44.5vw;
  border-top: 2px solid #2d3630;
  border-radius: 3px;
  display: none;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0px 1px 4px 0px #2d3630;
}
.customLink:hover .dropdown {
  display: block;
}
.dropdown li {
  list-style: none;
}
.dropdown li:hover {
  background-color: #2d3630;
  transition: 0.2s ease-in;
}
.dropdown li:hover .dropLink {
  color: #ffffff;
  transform: translate(15px);
  transition: 0.3s ease-in-out;
}
.dropLink {
  text-decoration: none;
  color: #2d3630;
  font-size: 1.2vw;
  font-family: sans-serif, lato;
  display: block;
  padding: 0.7vw;
  cursor: pointer;
}

/* ================= Responsive Area MAX600px ======================== */
@media screen and (max-width: 600px) {
  .navContent,
  .navTitle,
  .customLink,
  .navButton {
    display: none;
  }
  .mobileNav {
    width: 100vw;
    height: 100vw;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 1;
    border-radius: 0px 0px 3px 3px;
    background-color: #2d3630f3;
  }
  .customLink {
    position: relative;
    top: 15vw;
    display: block;
    text-align: center;
    font-size: 3vw;
  }
  .navText {
    display: block;
    font-size: 1rem;
    padding: 0.2vw;
    border-radius: 10px;
    background-color: #3d9c4d;
  }
  .navTitle {
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: block;
    font-size: 1rem;
    color: #ffffff;
    border: 1.5px solid #3d9c4d;
    font-family: sans-serif;
    padding: 5px 15px;
    border-radius: 3px;
  }
  .timesIcon {
    position: absolute;
    top: 8px;
    right: 2rem;
    z-index: 1;
    font-size: 2.8rem;
    color: #ffffff;
    font-weight: bold;
  }
  .burgerIcon {
    position: absolute;
    top: 9px;
    right: 2rem;
    z-index: 1;
    font-size: 2.8rem;
    padding: 2px;
    border-radius: 3px;
    color: #ff4929;
    border: 2px solid #3d9c4d;
    font-weight: bold;
  }
  .divIcon {
    width: 0;
    height: 0;
    border-top: 10px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: inline-block;
    position: relative;
    top: 2px;
    left: 0px;
  }
  .callAnytimeContent {
    display: none;
  }
  /* ============Dropdown=================================== */
  .dropdown {
    display: none;
  }
  .MyDropdown {
    display: block;
  }
  .dropdown li {
    list-style: none;
  }
  .dropLink {
    display: block;
    text-decoration: none;
    color: #bdfd27;
    font-size: 4vw;
    font-family: sans-serif, lato;
    /* background-color: #ff4929; */
    padding: 1.5vw;
    cursor: pointer;
  }
}
/* =============(max-width: 768px) and (min-width: 601px)====================== */
@media screen and (max-width: 768px) and (min-width: 601px) {
  .burgerIcon {
    display: none;
  }
  .timesIcon {
    display: none;
  }
  .customLink {
    font-size: 1.1rem;
  }
  .customLink {
    text-decoration: none;
    color: #2d3630;
    font-family: sans-serif, lato;
    padding: 0vw 1vw;
    border-radius: 30px;
  }
  /* ============Dropdown responsive====================== */
  .dropdown {
    position: absolute;
    top: 5.8vw;
    left: 44.5vw;
  }
  .customLink:hover .dropdown {
    display: block;
  }
  .dropdown li {
    list-style: none;
  }
  .dropdown li:hover {
    background-color: #2d3630;
    transition: 0.2s ease-in;
  }
  .dropdown li:hover .dropLink {
    color: #ffffff;
    transform: translate(15px);
    transition: 0.3s ease-in-out;
  }
  .dropLink {
    text-decoration: none;
    color: #2d3630;
    font-size: 1.2vw;
    font-family: sans-serif, lato;
    display: block;
    padding: 0.7vw;
    cursor: pointer;
  }
  /* ================Icon=========================== */
  .divIcon {
    width: 0;
    height: 0;
    border-top: 6px solid #000000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: inline-block;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .MyDropdown {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .burgerIcon {
    display: none;
  }
  .timesIcon {
    display: none;
  }
  .dropdown {
    position: absolute;
    top: 5.7vw;
    left: 44.5vw;
  }
  .MyDropdown {
    display: none;
  }
}
@media screen and (max-width: 1900px) and (min-width: 1025px) {
  .burgerIcon {
    display: none;
  }
  .timesIcon {
    display: none;
  }
  .MyDropdown {
    display: none;
  }
}
