@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

.FooterDiv {
  width: 100vw;
  height: 30vw;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
  padding: 2vw 5vw 2vw 5vw;
  position: relative;
}
.title {
  text-align: left;
  font-size: 3vw;
  color: white;
  letter-spacing: 0.1vw;
  font-family: "Roboto", sans-serif;
}
.topTitleDiv {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2vw;
  border-bottom: 1px solid white;
}
.iconDiv {
  display: flex;
  justify-content: center;
  gap: 2vw;
}
.icon {
  font-size: 3vw;
  color: white;
  cursor: pointer;
}
.icon:hover {
  color: #d4d4d4;
}
.copyright {
  position: absolute;
  bottom: 2vw;
  left: 36vw;
  font-size: 2vw;
  color: white;
}
/* ===============Responsive max600px==================== */
@media only screen and (max-width: 600px) {
  .FooterDiv {
    width: 100vw;
    height: 50vw;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    padding: 5vw 5vw 2vw 5vw;
    position: relative;
  }
  .title {
    text-align: left;
    font-size: 4vw;
    color: white;
    font-family: "Roboto", sans-serif;
  }
  .topTitleDiv {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4vw;
    border-bottom: 1px solid white;
  }
  .icon {
    font-size: 4.8vw;
    color: white;
    cursor: pointer;
  }
  .icon:hover {
    color: #d4d4d4;
  }
  .copyright {
    position: absolute;
    bottom: 5vw;
    left: 27vw;
    font-size: 3vw;
    color: white;
    font-weight: bold;
  }
}
